.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    grid-column-start: 2;
}

.container-product {
    background: white;
    border-radius: 1rem;
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 10px -14px 21px 2px rgba(204,204,204,1);
}

.container-product a {
    text-decoration: none;
}