/* /* .container-category {
    background: salmon;
    width: 15rem;
    margin: auto;
    height: 100%;
    grid-column-start: 1;
} */

button {
    border: none;
}

button svg {
    width: 4rem;
    height: 1.4rem;
}