* {
    margin: 0;
}
header {
    display: flex;
    background-color: white;
}

.logo {
    padding: 1rem;
}

.description {
    background-color: #eaf9f6;
    padding: 1rem;
    border-radius: .5rem;
}

.description h1 {
    color: #6ea49d;
}

.main-container {
    background-image: url(./img/background.png);
    background-image: url(./img/estrellas-bg.png);
    background-color: #efd389;
    padding-top: 4rem;
    height: 100vh;
}

/* CARDS */
/* .container-containerCards {
    display: flex;
    justify-content: center; 
}

.card {
    background-image: url(./img/tarjeta_cubierta.png);
    width: 10rem;
    height: 10rem;
    border-radius: 1.5rem;
} */

.main-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.main-container .flip-card {
    width: 15rem;
    height: 17rem;
    perspective: 1000px;
}

.main-container .flip-card .flip-inner {
    position: relative;
    text-align: center;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.main-container .flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.main-container .flip-card .card-front,
.main-container .flip-card .card-back  {
    position: absolute;
    backface-visibility: hidden;
}


.main-container .flip-card .card-back {
    transform: rotateY(180deg);
}

