:root {
    --main-color: #EBE4E0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F4F1F0;
    color: #545454
}
/* Header and Nav */
header {
    width: 100%;
    height: 70px;
    background-color: #EBE4E0;
}

nav {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    list-style: none;
    display: inline;
}
nav li a {
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    color: var(--main-color);
}

li img {
    padding: 11px;
}

/* Products */
.link-products {
    color: #545454;
    text-decoration: none;
}

.card-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 200px;
}

h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.container-product {
    width: 280px;
    height: 365px;
    background-color: var(--main-color);
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 2rem;
}

.container-product img {
    width: 240px;
    border-radius: 1rem;
}

.product-price p {
    background-color: #C6A895;
    margin: auto;
    width: 76px;
    border-radius: 2rem;
    height: 22px;


}

/* Form */
.form-login {
    background-color: var(--main-color);
    width: 30rem;
    height: 30rem;
    margin: auto;
    border-radius: 2rem;
}

.form-login form {
    text-align: center;
    padding-top: 2rem;
}

.title-form {
    margin: 0 0 2rem 0;
}

.input-form {
    width: 20rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin: 0.5rem;
}

.olvido-contraseña {
    margin: 0 0 2rem 0;
    font-size: 14px;
}

.crear-cuenta {
    margin: 2rem 0 0.5rem 0;
    font-size: 14px;
}

.create-count p a {
    color: #545454;
    text-decoration: none;
}

.button-registro, .button-login {
    background-color: #efefef;
    margin: auto;
    width: 20rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    padding-top: 0.5rem;
    cursor: pointer;
}

.button-registro a, .button-login a {
    text-decoration: none;
    color: #545454;
    font-size: 14px;

}

.button-login:hover {
    background-color: #C6A895;  
}

.button-registro:hover {
    background-color: #C6A895;  
}


/* Páginas de detalles de productos */
.information {
    border-radius: 2rem;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 10px;
    margin-top: 7rem;
}

.container-eachProduct {
    width: 40rem;
    height: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 2rem;
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: #EBE4E0;
    justify-self: end;
}

.container-eachProduct h2 {
    margin: 24px;
}

.information h2 {
    text-align: center;
}

.container-shoppingCar {
    background-color: #EBE4E0;
    width: 20rem;
    height: 24rem;
    grid-column: 2 / 2;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 2rem;
    justify-self: center;
    align-self: center;
}

.container-shoppingCar a {
    text-decoration: none;
    color: #545454;
}

.agregar-carro {
    background-color: #efefef;
    width: 255px;
    height: 35px;
    margin: auto;
    border-radius: 2rem;
    cursor: pointer;
    padding-top: 14px;
}

.agregar-carro:hover {
    background-color: #C6A895;
}

.container-eachProduct img {
    width: 255px;
    border-radius: 2rem;
}

