<div>
  <form (ngSubmit)="procesar()">
    <div>
      <label>Nombre</label>
      <input
        type="text"
        name="nombre"
        placeholder="Ingrese el nomnbre"
        [(ngModel)]="persona.nombre"
        required
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine">Campo obligatorio</div>
    </div>
    <div>
      <label>Edad</label>
      <input
        type="text"
        name="edad"
        placeholder="Ingrese el edad"
        [(ngModel)]="persona.edad"
        required
        #edad="ngModel"
      />
      <div [hidden]="edad.valid || edad.pristine">Campo obligatorio</div>
    </div>
    <button>Enviar</button>
  </form>
</div>

{{ name.errors | json }}
<hr />
{{ name.valid | json }}
