.container {
  background-color: #7D966A;
  width: 34rem;
  height: 40rem;
  border-radius: 1rem;
  margin: auto;
  text-align: center;
  padding: 1rem;
  box-shadow: 7px 10px 26px -3px rgba(90,105,67,0.3);
}